 
    
h1{
    
    align-content: center;
    color:deepskyblue;
}
#button{
    background-color:deepskyblue;
    color:white;
    padding: 12px;
    border-radius: 12px;
    position:absolute;
    left:20%;
    margin-top: 10px;
    cursor: pointer;
    
}
#content{
  
   max-height:10%;
 max-width: 50%;
    border: 1px solid deepskyblue;
    overflow: hidden;  
    font-family: calibri;
text-align: justify;
     transition: 2s;
}
#content.open{
    max-height:90%;
 max-width: 50%;
    border: 1px solid deepskyblue;
    overflow: hidden;  
    font-family: calibri;
text-align: justify;
    transition: 2s;
}